
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
* {
    margin: 0;
    padding: 0;
}
body {
  color: #484848;
  font-family: 'Lato', sans-serif;
  display: flex;
  background-color: tan;
}
h1 {
  margin-bottom: 0;
}

ol {
    list-style-type: none;
    margin: 0;
    display: flex;
}

ol li {
    padding: 1px;
    border: solid 1px black;
    border-radius: 2px;
    margin: 3px;
    box-shadow: 2px 2px 1px grey; 
    
}

button {
    font-size: 2rem;
    min-height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 430.16px;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#ans {
    font-size: 1rem;
}

#lcdDisplay {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(47, 44, 247);
    border-right: 3px solid black;
    border-top: 3px solid black;
}
#keypad {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.digit {
    display: flex;
    margin-left: 1px;
    margin-right: 1px;
}

.digit_column {
    display: flex;
    flex-direction: column;
}

.pixel {
    height: 3px;
    width: 3px; 
    margin: 1px;
    background-color: rgb(7, 3, 245);
}

.equals_button {
    min-height: 100%;
}

button {
    width: 99px;
    background-color: rgb(50,50,50);
    color: whitesmoke
}

.container {
    width: 440px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkgrey;
    border-left: 2px solid grey;
    border-right: 2px solid grey;
}

#clear {
    background-color: tomato;
    color: whitesmoke;
}
